
.simulator-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  padding: 2px;
  gap: 30px;
  flex-wrap: wrap; /* Optional: ensures responsiveness */
}

.traffic-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
  background-color: #ffffff;
  
}

.traffic-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #030303;
  border-radius: 10px;
  width: 120px;
}

.light {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: #444;
}

.light.on.red {
  background-color: rgb(252, 21, 21);
}

.light.on.yellow {
  background-color: rgb(255, 255, 9);
}

.light.on.green {
  background-color: rgb(7, 209, 7);
}

.run-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #022935;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.run-button:hover {
  background-color: #094e61;
}

/* 
.code-panel {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 300px;
  max-width: 500px;
  flex: 1;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: monospace;
 
}
.code-panel h2 {
  margin-top: 0;
}

.code-panel pre {
  flex: 1;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
} */